<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <p style="font-size:40px;"> Cadastrar Usuário </p>

        <% if (erro) { %>
            <div style="text-align:center; background-color:brown; color:white">E-mail já cadastrado!</div>
        <% } %>

        <form action= "/usuario" method="post">

            <input type="hidden" name="id" value="<%= usuario.id %>">

            <div <%= escondido %> class="mb-3">
                <label class="form-label">E-mail</label>
                <input required type="email" value="<%= usuario.email %>" required class="form-control" name="email">
            </div>

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" value="<%= usuario.nome %>" required class="form-control" name="nome">
            </div>

            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" required class="form-control" name="senha">
            </div>

            <button type="submit" class="btn btn-purple">Salvar</button>
            <a class="btn btn-purple" href="/">Voltar</a>
        </form>

    </div>

</body>

</html>