<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <p style="font-size:40px;"> Detalhes </p>

        <div> <b> E-mail: </b> <%= resultado.email %> </div>
        <div> <b> Nome: </b> <%= resultado.nome %> </div>

        </br><a class="btn btn-purple" href="/usuario" >Voltar</a>

    </div>
    
</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>

</html>